@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@500&family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,800&family=Poppins&family=Roboto+Mono:wght@300;500&family=Zen+Kurenaido&display=swap"); /**font-family: 'Lemonada', cursive;font-family: 'Playfair Display', serif;font-family: 'Poppins', sans-serif;font-family: 'Zen Kurenaido', sans-serif;font-family: 'Roboto Mono', monospace;**/
body {
  margin: 0;
  padding: 0;
  font-family: "Lemonada", cursive;
}
.countdown-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
  background-color: #1b191b;
  border-radius: 60px;
  margin: 40px;
  margin-left: 40vw;
}

.count-down {
  color: rgb(218, 196, 223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 35px;
  margin-top: -20px;
  font-size: 30px;
  color: rgb(218, 196, 223);
}
.countdown-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(218, 196, 223);
  margin-right: 120px;
}

.countdown-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 45px;
}

@media only screen and (max-width: 900px) {
  .countdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    background-color: #1b191b;
    border-radius: 40px;
    margin-left: 20vw;
  }
  .count-down {
    color: rgb(218, 196, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .countdown-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(218, 196, 223);
  }

  .countdown-time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(218, 196, 223);
    margin-right: 50px;
  }
  .countdown-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
