body {
  margin: 0;
  padding: 0;
  font-family: "Lemonada", cursive;
}
.digitalclock-container {
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
  background-color: #1b191b;
  border-radius: 60px;
  margin-left: 40vw;
}
.digital-clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(218, 196, 223);
}
.digitalclock-icon {
  color: rgb(218, 196, 223);
  font-size: 30px;
  margin-bottom: 10px;
}
.digitalclock-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 20px;
}
@media only screen and (max-width: 900px) {
  .digitalclock-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    background-color: #1b191b;
    border-radius: 40px;
    margin-left: 20vw;
  }
  .digital-clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(218, 196, 223);
  }
  .digitalclock-icon {
    color: rgb(218, 196, 223);
    font-size: 20px;
  }
  .digitalclock-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 20px;
  }
  .digital-counter {
    font-size: 18px;
  }
}
