body {
  margin: 0;
  padding: 0;
  font-family: "Lemonada", cursive;
}
.stop-watch-container {
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
  background-color: #1b191b;
  border-radius: 60px;
  margin-left: 40vw;
}
.stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: whitesmoke;
}
.buttons {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 20px;
}

.icons {
  color: rgb(218, 196, 223);
  font-size: 30px;
  margin-right: 2px;
  margin-top: 5px;
}
.stop-icons {
  color: rgb(218, 196, 223);
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}
h2 {
  color: rgb(218, 196, 223);
}
.stopwatch-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 18px;
}

@media only screen and (max-width: 900px) {
  .stop-watch-container {
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    background-color: #1b191b;
    border-radius: 40px;
    margin-left: 20vw;
  }

  .stopwatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buttons {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
  }
  .icons {
    color: rgb(218, 196, 223);
    font-size: 20px;
    margin-right: 28px;
    margin-top: -10px;
  }
  .stop-icons {
    color: rgb(218, 196, 223);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  h2 {
    color: rgb(218, 196, 223);
    font-size: 18px;
  }
  .stopwatch-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 20px;
  }
}
