body {
  background: linear-gradient(-45deg, #3c096c, #5a189a, #7b2cbf, #ff006e);
  background-size: 400% 400%;
  animation: gradient 40s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.App {
  height: 100vh;
}
h1,
p {
  color: white;
  font-family: "Playfair Display", serif;
}

header {
  color: aliceblue;
  font-size: 45px;
  padding: 12px;
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
  border: 1px solid white;
  width: 97.2vw;
}

.app-quote {
  font-size: 50px;
  margin-left: 490px;
}
.app-quotecontent {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 630px;
}
footer {
  color: rgb(162, 169, 175);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: 20px;
}

@media only screen and (max-width: 900px) {
  header {
    font-size: 35px;
    padding: 12px;
    border: 1px solid white;
    width: 92vw;
  }
  .app-quote {
    font-size: 30px;
    margin-left: 100px;
  }

  .app-quotecontent {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 130px;
  }
}
